<!-- templates/view_all_users.html -->
{% extends 'base.html' %}

{% block title %}View All Users{% endblock %}

{% block content %}
    <h1>All Users</h1>
    <a href="{{ url_for('admin_dashboard') }}" class="btn btn-secondary">Back to Admin Dashboard</a> <!-- Link to go back -->
    <br><br>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.name }} {{ user.surname }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}